<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>{% block title %}{% endblock %} - PIC16B Website</title>

<nav>
  <h1>PIC16B: A Simple Message Bank</h1>
  <!-- <b>Navigation:</b> -->
</nav>
<section class="content">
    <ul>
      <h1 style="font-size:1.875em; font-family: cursive;" ><li><a href="{{ url_for('submit') }}">Submit a message</a></li>
      <li><a href="{{ url_for('view') }}">View messages</a></li></h1>
    </ul>
  {% block content %}{% endblock %}
</section>
